/**
 * @file
 * Overall specifications for Mytheme.
 */

html {
  height: 100%;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  min-height: 100%;
  line-height: 1.5;
  word-wrap: break-word;
  font-size: 87.5%;
  font-family: 'Source Sans Pro', sans-serif;
}

.link {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 a,
h2 a {
  border-bottom: none;
}

p {
  margin: 0 0 1.2em;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0 0 0.25em 1em;
  /* LTR */
}

[dir="rtl"] ul,
[dir="rtl"] ol {
  padding: 0 1em 0.25em 0;
}

ol ol,
ul ul {
  margin: 0;
  padding: 0 0 0.25em 1em;
  /* LTR */
}

[dir="rtl"] ol ol,
[dir="rtl"] ul ul {
  padding: 0 1em 0.25em 0;
}
