.logo {
  position: absolute;
  z-index: 5;
  background: white;
  padding: 16px 30px 30px 30px;
  margin-top: 60px;
  margin-left: -8%;
}

.logo a {
  float: left;
}

.site-branding__slogan {
  max-width: 490px;
  font-size: 23px;
  text-transform: uppercase;
  color: #E2D9BD;
  padding-left: 135px;
  line-height: 36px;
  padding-top: 16px;
}

.alex-nav {
  background: #3e4c59;
  color: white;
  min-height: 40px;
  list-style: none;
  position: relative;
  z-index: 99;
  float: left;
  padding: 0;
  height: 56px;
  padding-left: 35%;
}

.nav-item {
  display: inline-block;
  margin: 0;
  position: relative;
}

.nav-item a {
  display: block;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 18px 20px;
}

.header-photo {
  max-height: 500px;
  height: 27vh;
  min-height: 210px;
  float: left;
  width: 100%;
  position: relative;
}

.profile-picture {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
}

.profile-alex {
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: -33px;
  left: -150px;
  right: 0;

}

.telephone-number {
  float: left;
  background-color: #E2D9BD;
  color: #3E4C59;
  padding: 14px 20px;
  margin: 0 20px 0 11%;
  text-transform: uppercase;
}

.telephone-number a {
  text-decoration: none;
  font-weight: bold;
  color: #3E4C59;
}

.contact-button {
  position: fixed;
  top: 50vh;
  left: 0;
  background: #E2D9BD;
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: top left;
  line-height: 20px;
  z-index: 30;
}

.contact-button a {
  padding: 12px 15px;
  display: inline-block;
  color: #3E4C59;
  text-transform: uppercase;
  text-decoration: none;
}

/* 
needs to go in footer css file */

.contact-block {
  background: #E2D9BD;
  color: #3E4C59;
  padding: 20px;
}

#contact-block img {
  vertical-align: middle;
  max-width: 100px;
  max-height: 50px;
  width: auto;
}

.contact-info {
  float: left;
  width: 50%;
  color: #3E4C59;
  font-weight: bold;
}

.badges {
  float: left;
  width: 50%;
}

.trademark {
  color: #808285;
  white-space: nowrap;
}

.trademark a {
  color: #808285;
  text-decoration: none;
}

.trademark a:hover {
  text-decoration: underline;
}

.alex-img {
  transform: rotate(45deg);
  margin: -35px;
  vertical-align: middle;
}
